@import "./includes/variable";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    text-transform: none;
    // overflow: hidden;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;

    &::-webkit-scrollbar {
        display: none;
    }
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.opac-0 {
    opacity: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-d-col {
    flex-direction: column;
}

.flex-d-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.align-flex-end {
    align-items: flex-end;
}

.align-flex-start {
    align-items: flex-start;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.line-height {
    line-height: 0px;
}

a {
    text-decoration: none;
}

.g-2 {
    gap: 2px;
}

.g-4 {
    gap: 4px;
}

.g-6 {
    gap: 6px;
}

.g-8 {
    gap: 8px;
}

.g-12 {
    gap: 12px;
}

.g-16 {
    gap: 16px;
}

.g-20 {
    gap: 20px;
}

.g-24 {
    gap: 24px;
}

.g-48 {
    gap: 48px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

main {
    position: relative;
    min-height: 100vh;
    width: 100%;

    @import  "./components/header";

    @import "./components/sideNavBar";

    .mycart {
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.274);
        position: fixed;
        right: -100%;
        z-index: 999;
        transition: right 0.3s ease-in-out;

        &-wrapper {
            padding: 24px;
            margin-left: auto;
            position: relative;
            width: 530px;
            height: 100vh;
            background-color: #fff;

            & h1 {
                font-family: Roboto;
                font-size: 24px;
                color: #222;
                font-weight: 500;

                & span {
                    font-size: 30px;
                    font-weight: 300;
                    cursor: pointer;
                }
            }

            & table {
                width: 100%;

                & tr {
                    border-bottom: 1.25px solid #E13324;
                }

                & tr:first-child {
                    // padding: 0px 4px 16px 4px;
                    padding-bottom: 16px;
                    
                }

                & tr th:first-child {
                    width: 40%;
                    text-align: left;
                }

                & tr {
                    width: 100%;
                }

                & tr th {
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    color: #555;
                    width: 20%;
                    // text-align: center;
                    text-align: right;
                }

                & tr td {
                    padding: 16px 0px;
                    width: fit-content;
                    font-family: DM Sans,sans-serif;
                    color: #62636b;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                }

                & tr td img {
                    width: 100px;
                }

                & tr td:first-child{
                    width: 31%;
                }
            }

            & h2 {
                font-family: Roboto;
                font-size: 20px;
                color: #5f5f64;;
                font-weight: 400;
                margin-left: auto;
            }

            & .cart-btn {
                flex-wrap: wrap;
                width: 100%;
                height: fit-content;
                padding: 32px 0px;
                border-top: 1px solid #E13324;
                position: absolute;
                z-index: 10;
                left: 0;
                bottom: 0;
                width: 100%;

                & button {
                    height: 48px;
                    width: 216px;
                    padding: 8px 0px;
                    border-radius: 60px;
                    outline: none;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 500;
                    border: 1px solid #E13324;
                }

                & button:nth-child(1){
                    background-color: #fff;
                    color: #E13324;
                }

                & button:nth-child(1):hover{
                    background-color: #f4f4f4;
                }

                & button:nth-child(2){
                    background-color: #E13324;
                    color: #fff;
                }

                & button:nth-child(2):hover{
                    background-color: #d64c40d3;
                }
            }
        }

    }

    @import "./components/heroCarousal";

    @import "./components/newsSection";

    @import  "./components/footer";
}

@import "./includes/mediaQuery";
