@import "./includes/variable";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    text-transform: none;
    // overflow: hidden;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;

    &::-webkit-scrollbar {
        display: none;
    }
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.opac-0 {
    opacity: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-d-col {
    flex-direction: column;
}

.flex-d-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.align-flex-end {
    align-items: flex-end;
}

.align-flex-start {
    align-items: flex-start;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.line-height {
    line-height: 0px;
}

a {
    text-decoration: none;
}

.g-2 {
    gap: 2px;
}

.g-4 {
    gap: 4px;
}

.g-6 {
    gap: 6px;
}

.g-8 {
    gap: 8px;
}

.g-12 {
    gap: 12px;
}

.g-16 {
    gap: 16px;
}

.g-20 {
    gap: 20px;
}

.g-24 {
    gap: 24px;
}

.g-48 {
    gap: 48px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

main {
    position: relative;
    min-height: 100vh;
    width: 100%;

    @import "./components/header";

    @import "./components/sideNavBar";

    @import "./components/mycart";

    @import "./components/heroCarousal";

    @import "./components/newsSection";

    .section-product {
        padding-top: 7vh;
        height: fit-content;
        width: 100%;
        background-color: #FFF8F1;

        & .product-container {
            flex-wrap: wrap;
            max-width: 960px;
            margin: 0px auto;
            height: 50%;
            padding: 0px 0px 24px 0px;

            & h2 {
                font-family: Open Sans;
                font-weight: 700;
                color: #c8a98d;
                font-size: 16px;
                padding: 10px 0;
                border-bottom: 1px solid #eee0d3;
            }

            & .matching {
                width: fit-content;
                height: fit-content;
                border-bottom: 1px solid #fefdfc;
            }

            & .newes {
                width: fit-content;
                height: fit-content;
                border-bottom: 1px solid #fefdfc;
            }

            & .product-wrapper {
                padding: 12px;
                height: 272px;
                background-color: #F6ECE2;
                border-top: 1px solid #fefdfc;
                border-bottom: 1px solid #eee0d3;

                & .product-img {
                    height: 180px;
                    width: 92px;

                    & img {
                        height: 90%;
                        margin-left: -24px;
                    }
                }

                & .flavor {
                    overflow-y: auto;
                    // padding: 4px;
                    width: 176px;
                    height: 184px;

                    &::-webkit-scrollbar{
                        display: none;
                    }

                    & .fruits {
                        height: fit-content;
                        flex-wrap: wrap;
                        width: 100%;

                        & .fruit {
                            height: 64px;
                            width: 74px;
                            margin: 0px 6px 6px 0px;

                            & img {
                                height: 60px;
                                width: 60px;
                              
                            }

                            & p {
                                font-family: Roboto;
                                font-size: 12px;
                                font-weight: 500;
                                color: #c8a98d;
                            }
                        }
                    }
                }

                & .pair-btn {
                    width: 100%;
                    margin: 0px auto;
                    height: 42px;
                    border: none;
                    border-right: 1px solid #c8a78d86;
                    border-bottom: 1px solid #c8a78d86;
                    outline: none;
                    border-radius: 6px;
                    background: rgb(255,252,250);
                    background: linear-gradient(180deg, rgba(255,252,250,1) 0%, rgba(254,245,238,1) 96%);
                    font-family: Open Sans;
                    font-weight: 700;
                    font-size: 16px;
                    color: #EC3726;;
                }

                & .news-container {
                    width: 100%;
                    height: 100%;
                    margin: 0px auto;
                    overflow-y: auto;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                & .news {
                    height: fit-content;

                    &-logo {
                        width: 212px;
                        height: 76px;
                        text-align: center;
                        background: transparent url(../assets/bg_popupright.png) 0 0 no-repeat;

                        & img {
                            height: 95%;
                            width: 80%;
                            margin-left: -12px;          
                        }
                    }

                    & p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 250px;
                        height: 100%;
                        font-family: Roboto;
                        font-size: 13px;
                        font-weight: 400;
                        color: #000;
                        border-bottom: 1px solid #eee0d3;
                        border-top: 1px solid #fefdfc;

                    }

                    &:first-child  p{
                        border-top: none;
                    }

                    &:last-child p {
                        border-bottom: none;
                    }
                }

            }

        }
    }

    @import "./components/footer";
}

@import "./includes/mediaQuery";