@import "./includes/variable";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    text-transform: none;
    // overflow: hidden;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;

    &::-webkit-scrollbar {
        display: none;
    }
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.opac-0 {
    opacity: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-d-col {
    flex-direction: column;
}

.flex-d-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.align-flex-end {
    align-items: flex-end;
}

.align-flex-start {
    align-items: flex-start;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.line-height {
    line-height: 0px;
}

a {
    text-decoration: none;
}

.g-2 {
    gap: 2px;
}

.g-4 {
    gap: 4px;
}

.g-6 {
    gap: 6px;
}

.g-8 {
    gap: 8px;
}

.g-12 {
    gap: 12px;
}

.g-16 {
    gap: 16px;
}

.g-20 {
    gap: 20px;
}

.g-24 {
    gap: 24px;
}

.g-48 {
    gap: 48px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

main {
    position: relative;
    min-height: 100vh;
    width: 100%;

    @import  "./components/header";

    @import "./components/sideNavBar";

    @import "./components/mycart";

    @import "./components/heroCarousal";

    @import "./components/newsSection";

    .section-product {
        // padding-top: 16vh;
        padding-top: 6vh;
        height: fit-content;
        width: 100%;
        background-color: #FFF8F1;
    }

    @import  "./components/footer";
}

@import "./includes/mediaQuery";
