footer {
    width: 100%;
    overflow: hidden;
    // padding: 24px 0px;
    height: fit-content;
    background-color: #b53724;
    background-image: url('../assets/bg.jpg');
    // background-position: bottom;
    background-position: 50% -110%;
    background-size: percentage($number: -2);
    padding: 24px 0px 0px 0px;
    position: relative;


    .dotted-strip {
        position: absolute;
        gap: 6px;
        background-image: url('../assets/bg_footerpattern.png');
        background-repeat: repeat-x;
        top: -4px;
        width: 100%;
        height: 16px;
    }


    .footer-wrapper {
        flex-wrap: wrap;
        width: fit-content;
        // background-color: rgba(0, 128, 0, 0.514);
        margin: 0px auto;
        padding: 8px 0px 24px 0px;
        border-bottom: 1px solid #972716a6;

        & .footer-promo {
            width: 276px;
            height: 125px;
            border-radius: 8px;
            background-color: #972716;
            padding: 12px;

            & h1, p {
                font-family: Roboto;
                color: #f2f2f2;
            }

            & h1 {
                font-size: 16px;
                font-weight: 400;
            }

            & p {
                font-size: 12px;
                font-weight: 300;

                & a {
                    color: #7CC144;
                    text-decoration: none;
                }
            }

            .addCo {
                height: fit-content;
                font-family: Roboto;

                a h3:hover {
                    color: #fff;
                }

                h3 {
                    margin-bottom: 2px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #dddddd;
                }

                & .contact{
                    border-right: 1px solid #D45435;
                    padding-right: 12px;
                }

                & .address{
                    padding-left: 12px;
                }
            }

            .social {
                // margin-top: -10px;
                padding: 8px 0px;
                width: 100%;
                // height: fit-content;
                height: 64%;

                & a {
                    width: 40px;
                    height: 52px;

                    & img  {
                        height: 100%;
                        width: 100%;
                    }

                    & img:hover {
                        opacity: 0.8;
                    }
                }
            
            }

            form {
                height: 60%;
                width: 100%;
                margin: -4px auto;

                & .input-wrapper {
                    width: 100%;
                    padding: 8px;
                    height: 35px;
                    background-color: #D45435;
                    border-radius: 8px;
                    box-shadow: inset 0 0 0 2px #a82406;

                    & input {
                        // padding: 8px;
                        background-color: transparent;
                        border: none;
                        color: #FBE3CD;
                    }

                    & input:focus {
                        outline: none;
                    }

                    & input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: #FBE3CD;
                        font-size: 12px;
                        font-family: Roboto;
                    }

                    & button {
                        cursor: pointer;
                        color: #FBE3CD;
                        height: 25px;
                        width: 25px;
                        padding: 8px;
                        border-radius: 6px;
                        background-color: #B32E1C;
                        border: none;

                        & span {
                            font-size: 14px;
                        }
                    }

                    & button :focus {
                        outline: none;
                    }
                }

            }
        }
    }

    .footer-links {
        margin: 0px auto 0px auto;
        max-width: 880px;
        height: fit-content;
        // padding: 24px 0px 12px 0px;
        padding: 24px 0px;
        margin-bottom: 12px;

        & .footer-link {
            position: relative;
            overflow: hidden;
            padding: 2px 12px;
            background-color: #972716;
            text-align: center;
            font-size: 10px;
            margin-right: 0px;
            float: left;

           
            
            & a {
                color: #ffb7a3;
                font-family: Roboto;
                text-transform: uppercase;
                text-decoration: none;
                padding: 0px 8px;
                transition: color 0.3s ease-in-out;

            }
            & a:hover {
                color: #fff;
                transition: color 0.3s ease-in-out;
            }
        }

        & .footer-link::after {
            content: " ";
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: #A72C1A;
            position: absolute;
            right: -5px;
        }
        
        & .footer-link::before {
            content: " ";
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: #A72C1A;
            position: absolute;
            left: -5px;
        }
    }

    // .footer-links-1 {
    //     border-bottom: 1px solid #972716a6;
    // }

    .footer-links-2 {
        padding: 12px 0px 24px 0px;
    }

    .footer-gradient {
        position: relative;
        margin: 0px auto;
        width: fit-content;
        height: fit-content;
        flex-shrink: 0;
        fill: linear-gradient(180deg, #62140A 0%, rgba(167, 44, 26, 0.00) 73%);
    
        .footer-leaf {
            position: absolute;
            left: 50%;
            top: 20%;
            transform: translate(-50%, -50%);
            width: 30px;
            margin: 0px auto;
        }
    }
}