@media (max-width: 1100px) {
    .d-md-none {
        display: none;
    }

    header {
        & .header-wrapper {
            width: 100% !important;
            padding: 32px !important;
        }
    }

    .section-container {
        & .carousel {
            width: 80vw !important;
            margin: 0px auto !important;

            & .product-content {

                // gap: 0px !important;
                // flex-direction: row;
                & .product-img {
                    width: 60vw !important;
                    height: fit-content !important;
                }
            }

            & .navigation {
                width: 86vw !important;
                padding: 24px !important;
                margin: 0px auto !important;

                & .swiper-button-next>span,
                .swiper-button-prev>span {
                    padding: 12px !important;

                }
            }
        }
    }
}

@media (max-width: 769px) {
    .d-md-none {
        display: none;
    }

    header {
        & .header-wrapper {
            width: 100% !important;
            padding: 16px 0px !important;
        }
    }

    .logo-md {
        flex-direction: column;
        gap: 0px;
        width: 150px !important;
        align-items: flex-start;

        & .mberry-logo {
            width: 92px !important;

        }

        & a {
            font-size: 12px !important;
        }

        & a::before {
            display: none;
        }
    }

    .section-container {

        & .carousel {

            h1 {
                font-size: 1.5rem !important;
            }


            & .product-content {
                gap: 0px !important;

                & .product-img {
                    width: 100% !important;
                    text-wrap: wrap;
                    padding: 0px !important;
                    // width: 25vw !important;
                    height: 30vh !important;

                    & p {
                        font-size: 0.95rem;
                    }
                }
            }


            & .navigation {
                & .swiper-button-next {
                    right: -24px !important;
                }

                & .swiper-button-prev {
                    left: -24px !important;
                }
            }

            & .product-info {
                margin-top: -36px !important;

                & button {
                    font-size: 0.9rem !important;
                    width: fit-content !important;
                    padding: 8px !important;
                }

                & .info-overlay {
                    padding: 0px !important;
                    gap: 4px !important;
                }
            }
        }
    }

}

@media (max-width: 530px) {
    .d-sm-none {
        display: none;
    }

    .d-sm {
        display: block;
    }

    .section-container {
        & .carousel {

            & .product-content {
                gap: 0px !important;

                // flex-direction: row;
                // align-items: center !important;
                & .product-img {
                    padding: 0px 32px 0px 0px !important;

                    & .product-rate {
                        height: 58% !important;

                        .layer-2 {
                            height: 54px !important;
                            width: 54px !important;
                            top: 7% !important;
                            left: 10% !important;

                            p {
                                font-family: Poiret One !important;
                                font-size: 1.5rem !important;
                                font-style: normal !important;
                                color: #fff !important;
                            }
                        }

                        .layer-3 {
                            height: 65% !important;
                            left: 46% !important;
                            top: 30% !important;
                        }
                    }
                }
            }

            & .product-info {
                margin-top: -72px !important;

                @media (max-height: 740px) {
                    margin-top: -16px !important;
                }

                & button {
                    font-size: 0.9rem !important;
                    width: fit-content !important;
                    padding: 8px !important;
                }

                & .info-overlay {
                    padding: 0px !important;
                    gap: 4px !important;
                }
            }
        }
    }

    .section-highlight {

        & .highlights {
            margin-top: 12vh !important;
        }
    }
}

@media (min-width: 1101px) {
    .d-lg-none {
        display: none;
    }
}